### Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* list popular languages for Data Science 
* List popular Libraries for Data Science
* Commonly used airthmatic operatiotions

**Some of the popular languages that Data Scientists use are:**
1. Python
2. R
3. SQL

**Some of the commonly used libraries used by Data Scientists include:**
1. Pandas
2. Seaborn
3. Numpy

**Data Science Tools**
| 1   | 2 | 3     |
|--------|-----|----------|
| JupyterNotebook   | Rstudio   | IBMwatson|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/600

0.3333333333333333

Sanam Narejo